.message {
    background-color: lightgray;
    padding: 10px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    margin: 15px;
}

.success {
    border-color: green;
    color: green;
}

.failure {
    border-color: red;
    color: red;
}
